{% extends "template.html" %}
{% block content %}

<div class="about-main-wrapper">
  <div class="about-content-column">

    <section class="community-body">
      <h1>About Monmouth County</h1>
      <p>
        Monmouth is located in New Jersey and is most commonly known for the
        <a href="https://www.battlefields.org/learn/articles/monmouth">Battle of Monmouth</a>
         during the American Revolution. It is one of the original East Jersey counties. It was established in 1683 and has a long history, including early Quaker settlements and its more recent transition into a coastal community. The county consists of 53 municipalities, including townships, boroughs, and cities.
      </p>
    </section>

    <section class="about-county-container">
      <h2>A list of all the municipalities can be found below.</h2>
      <ul>
        <li><a href="https://www.aberdeennj.org/">Aberdeen Township</a></li>
        <li><a href="http://www.allenhurstnj.org/">Allenhurst</a></li>
        <li><a href="https://allentownboronj.com">Allentown</a></li>
        <li><a href="http://www.cityofasburypark.com/">Asbury Park</a></li>
        <li><a href="http://www.ahnj.com">Atlantic Highlands</a></li>
        <li><a href="http://avonbytheseanj.com">Avon-by-the-Sea</a></li>
        <li><a href="http://www.belmar.com">Belmar</a></li>
        <li><a href="http://www.bradleybeachnj.gov/">Bradley Beach</a></li>
        <li><a href="https://www.briellenj.com/">Brielle</a></li>
        <li><a href="https://www.coltsneck.org/">Colts Neck Township</a></li>
        <li><a href="https://www.dealborough.com/">Deal</a></li>
        <li><a href="https://www.eatontownnj.com/">Eatontown</a></li>
        <li><a href="https://www.englishtownnj.com/">Englishtown</a></li>
        <li><a href="https://www.fairhavennj.org/">Fair Haven</a></li>
        <li><a href="https://www.farmingdaleborough.org/">Farmingdale</a></li>
        <li><a href="https://www.freeholdboroughnj.gov/">Freehold Borough</a></li>
        <li><a href="https://www.twp.freehold.nj.us/">Freehold Township</a></li>
        <li><a href="https://www.hazlettwp.org/">Hazlet Township</a></li>
        <li><a href="https://www.highlandsnj.com/">Highlands</a></li>
        <li><a href="https://www.holmdeltownship.com/">Holmdel Township</a></li>
        <li><a href="https://www.twp.howell.nj.us/">Howell Township</a></li>
        <li><a href="https://www.interlakennj.org/">Interlaken</a></li>
        <li><a href="https://www.keansburgnj.com/">Keansburg</a></li>
        <li><a href="https://www.keyportonline.com/">Keyport</a></li>
        <li><a href="https://www.lakecomonj.org/">Lake Como</a></li>
        <li><a href="https://www.littlesilver.org/">Little Silver</a></li>
        <li><a href="https://www.locharbour.org/">Loch Arbour</a></li>
        <li><a href="https://www.longbranch.org/">Long Branch</a></li>
        <li><a href="https://www.mtnj.org/">Manalapan Township</a></li>
        <li><a href="https://www.manasquan-nj.gov/">Manasquan</a></li>
        <li><a href="https://www.marlboro-nj.gov/">Marlboro Township</a></li>
        <li><a href="https://www.matawanborough.com/">Matawan</a></li>
        <li><a href="https://www.middletownnj.org/">Middletown Township</a></li>
        <li><a href="https://www.millstonenj.gov/">Millstone Township</a></li>
        <li><a href="https://www.monmouthbeach.us/">Monmouth Beach</a></li>
        <li><a href="http://www.neptunecitynj.com">Neptune City</a></li>
        <li><a href="http://www.neptunetownship.org">Neptune Township</a></li>
        <li><a href="https://www.oceantwp.org/">Ocean Township</a></li>
        <li><a href="http://www.oceanportboro.com/">Oceanport</a></li>
        <li><a href="https://www.redbanknj.org/">Red Bank</a></li>
        <li><a href="https://www.rooseveltnj.us/">Roosevelt</a></li>
        <li><a href="https://www.rumsonnj.gov/">Rumson</a></li>
        <li><a href="https://www.seabrightnj.org/">Sea Bright</a></li>
        <li><a href="https://www.seagirtboro.com/">Sea Girt</a></li>
        <li><a href="https://www.shrewsburyboro.com/">Shrewsbury Borough</a></li>
        <li><a href="https://www.shrewsburytwp.com/">Shrewsbury Township</a></li>
        <li><a href="https://www.springlakeboro.org/">Spring Lake</a></li>
        <li><a href="https://www.springlakehts.com/">Spring Lake Heights</a></li>
        <li><a href="https://www.tintonfalls.com/">Tinton Falls</a></li>
        <li><a href="https://www.unionbeachnj.gov/">Union Beach</a></li>
        <li><a href="https://www.upperfreehold.com/">Upper Freehold Township</a></li>
        <li><a href="https://www.wallnj.gov/">Wall Township</a></li>
        <li><a href="https://www.wlb.org/">West Long Branch</a></li>
      </ul>
    </section>

  </div>

  <div class="about-map-column">
    <iframe class="about-iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d329652.705022717!2d-74.249818!3d40.2991125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3cf078e32ecb3%3A0x24e4402cc03423a7!2sMonmouth%20County%2C%20NJ!5e1!3m2!1sen!2sus!4v1774795337695!5m2!1sen!2sus"
      loading="lazy"
      allowfullscreen="">
    </iframe>
  </div>
</div>

{% endblock %}