{% extends "template.html" %}

{% block content %}
<div class="index-container">
    <div class="intro">

        <h1>Monmouth County</h1>
        <p class="intro-text">Explore Monmouth County’s <br> community charities and nonprofits</p>



        <button class="down-button">

            <svg width="15px" height="10px" viewBox="0 0 10 13">
                <path d="M5,1 L5,11"></path>

                <polyline points="1 8 5 12 9 8"></polyline>
            </svg>

        </button>


    </div>
</div>

{% endblock %}