{% extends "template.html" %}

{% block header %}
    <script type="module" src="/src/register.js"></script>
{% endblock %}

{% block content %}
    <!-- Section with text boxes for user input -->
    <div class="register-body">
        <section>
            <div class="register-form">
                <h1 >Create An Account</h1>
                <form>
                    <!-- Registration form -->
                    <input type="text" placeholder="First Name" id="firstName">
                    <input type="text" placeholder="Last Name" id="lastName">
                    <input type="email" placeholder="Email" id="userEmail">
                    <input type="password" placeholder="Password" id="userPass">
                    <button type = "button" id="submitData" name="submitData" class="mt-4 bg-[rgb(153,128,168)] text-white font-semibold py-2 px-4 rounded-md block transition">Register</button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}