<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monmouth County</title>
  <script type="module" src="/src/authState.js"></script>
  {% block header %}
  {% endblock %}
  <!-- if development -->
  <script type="module" src="http://localhost:5173/@vite/client"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link rel="stylesheet" href="/output.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="page-wrapper" class="m-2">
    <!-- Navigation Bar -->
    <nav id="navigation_box">
      <h1 class="header-title"><a href="/">Monmouth County</a></h1>

      <div id="left_navigation_box">
        <span id="user-greeting" style="display:none;"></span>
        <a href="#" id="signout-btn" style="display:none;">Sign Out</a>
        <a href="/signIn" id="nav-signin">Sign In</a>
        <a href="/register" id="nav-signup" class="signup-btn">Sign Up</a>
      </div>


      <div id="right_navigation_box">
         <div class="dropdown">
          <button class="dropbtn">
            <img src="../assets/menu-button.png" style="width: 50px; height:50px;">
          </button>
          <div class="dropdown-content">
            <a href="/" class="active">Home</a>
            <a href="/add">Additional Content</a>
            <a href="/forum">Community</a>
            <a href="/submit-resource">Form Submission</a>
          </div>
        </div>
      </div>

      
    </nav>

    <main id="main-content">
      {% block content %}
      <section class="hero">
        <h1>Explore Monmouth County</h1>
        <p>Your digital hub for local news, community forums, and county services.</p>
        <div class="cta-group">
          <a href="forum" class="primary-btn">Join the Community</a>
          <a href="submit-resource" class="secondary-btn">View Content</a>
        </div>
      </section>
      {% endblock %}
    </main>


    <footer class="footer">
      <div class="footer-container">
        <div class="row">
                <!-- Contact Info -->
                <div class="col footer-section">
                    <h2 class="footer-header"><b>Contact Us</b></h2>
                    <h3 class="footer-text">Email: hello@example.com</h3>
                    <h3 class="footer-text">Phone: (123) 456-7890</h3>
                </div>
                <div class="col footer-section">
                    <h2 class="footer-header"><b>Monmouth County Resources</b></h2>
                </div>
                <!-- Links -->
                <div class="col footer-section">
                    <h2 class="footer-header"><b>Links</b></h2>
                    <a class="footer-text" href="/">Home</a>
                    <a class="footer-text" href="/add">Additional Content</a>
                    <a class="footer-text" href="/forum">Forum</a>
                    <a class="footer-text" href="#">Directory</a>
                </div>
            </div>
      </div>
    </footer>


  </div>
  <script src="/js/main.js"></script>
</body>

</html>